$serif-font: "Bellefair", serif
$monospace-font: "Nanum Gothic Coding", monospace
$cursive-font: "Tangerine", cursive
$sans-font: "Nanum Gothic", sans

$page-bgcolor: black
$page-font-color: white
$element-bgcolor: #e89e9e
$element-font-color: #3f3f3f
$element-link-color: #803b3b
$element-bordercolor: #c67b7b
$highlight-color: #d8282f
$sidebar-bgcolor: #f3e2e2
$element-hover-color: #ffcccc
$disabled-color: #838383

$sidebar-width: 200px
$header-height: 45px

html
  min-height: 100%
  margin: 0
  padding: 0

body
  min-height: 100vh
  height: 100%
  margin: 0
  padding: 0
  background-color: $page-bgcolor
  color: $page-font-color
  font-family: $serif-font

div
  margin: 0 0 0 0
  padding: 0 0 0 0

#application
  height: 100%

/**** Tease Layout *****/
.tease
  height: 100%

/* Tease Header */
.tease-header
  background-color: $element-bgcolor
  width: 100%
  height: $header-height
  position: relative

.tease-header h1
  margin: 0 0 0 0
  font-size: 30px
  color: $element-font-color
  font-family: $cursive-font
  line-height: $header-height
  padding: 5px 10px 5px 30px

.tease-info
  position: absolute
  right: 25px
  top: 0
  min-width: $sidebar-width - 25px
  text-align: center
  padding: 5px 10px 5px 30px

.tease-info a
  font-size: 25px
  color: $element-font-color
  font-family: $cursive-font
  line-height: 35px
  text-decoration: none
  text-underline: none

.tease-menu
  position: absolute
  top: 10px
  right: 15px
  color: $element-font-color

.tease-menu p
  padding: 0
  margin: 0
  font: 24px "Material Icons"
  cursor: pointer

.tease-menu ul
  display: none

.tease-menu:hover ul
  display: block
  position: absolute
  top: 0px
  right: 0px
  width: 100px
  background-color: $element-bgcolor
  border: 2px solid $element-bordercolor
  margin: 0
  padding: 0

.tease-menu li
  padding: 0
  margin: 0
  height: 30px
  cursor: pointer
  list-style-type: none
  display: block
  font-family: $serif-font
  font-size: 15px
  line-height: 26px

.tease-menu li:hover
  color: $highlight-color

.tease-menu .icon
  display: block
  font: 24px "Material Icons"
  float: left
  vertical-align: middle
  padding-right: 3px

/* Tease Main Content */
$tease-main-padding: 20px

.tease-main
  width: calc(100% - #{$sidebar-width + 2*$tease-main-padding})
  right: $sidebar-width
  padding: $tease-main-padding
  text-align: center

.tease-main img
  max-width: 100%
  height: calc(90vh - #{$header-height + 175px})
  width: auto
  object-fit: contain

.tease-success
  height: 100%

.tease-failure
  height: 100%
  font-family: $monospace-font

.tease-content
  display: flex
  flex-direction: row
  width: 100%
  height: calc(100% - #{$header-height})
  min-width: 500px
  font-size: 20px
  min-height: calc(100vh - #{$header-height})

/* Tease Fonts */
.font-typewriter
  font-family: $monospace-font

.font-serif
  font-family: $serif-font

.font-sans
  font-family: $sans-font

/* Tease Sidebar */
.tease-sidebar
  width: $sidebar-width
  background-color: $sidebar-bgcolor
  padding: 50px 5px 5px 10px
  text-align: center

.tease-sidebar button
  width: 100%

.tease-sidebar .tease-timer
  display: inline-block

/* Timer */
.tease-timer
  padding: 15px 20px 15px 20px
  font-size: 30px
  color: black
  text-align: center
  background-color: $element-bgcolor
  border-radius: 5px
  border-color: $element-bordercolor
  font-family: $monospace-font

/* Autolink */
a.autolink
  color: inherit
  text-decoration: inherit
  font: inherit

/**** Error Message *****/
.tease-warning
  font-size: 30px
  font-weight: bold
  color: $highlight-color

.tease-stacktrace
  text-align: left
  display: inline-block
  max-width: 80%
  word-wrap: break-word

.tease-stacktrace p
  margin-top: 10px
  margin-bottom: 10px

.tease-error-message
  word-wrap: break-word
  white-space: pre-wrap

/**** Loading Message *****/
.tease-loading
  position: absolute
  width: 240px
  height: 100px
  background-color: $element-bgcolor
  text-align: center
  left: calc(50% - 120px)
  top: calc(50% - 50px)
  border: 2px $element-bordercolor solid
  border-radius: 10px

@keyframes loading-animation
  from
    color: $element-font-color
  25%
    color: lighten($element-font-color, 10%)
  50%
    color: lighten($element-font-color, 30%)
  75%
    color: lighten($element-font-color, 10%)
  to
    color: $element-font-color

.tease-loading .tease-text
  font-size: 30px
  color: $element-font-color
  padding: 35px 0 0 0
  margin: 0 0 0 0
  animation-name: loading-animation
  animation-duration: 2s
  animation-iteration-count: infinite

/**** Welcome Message *****/

.welcome p
  margin-top: 15px
  margin-bottom: 15px

.welcome a, .welcome a:visited, .welcome a:active
  color: $element-link-color
  text-decoration: none

.welcome a, .welcome a:visited, .welcome a:active
  color: $element-link-color

.welcome a:hover
  color: lighten(saturate($element-link-color, 20%), 20%)

.welcome .flags
  display: inline-block
  width: 200px
  margin: 0 0 0 0

.welcome .flags p
  text-align: left
  margin-top: 5px
  margin-bottom: 5px

$script-upload-width: 320px

.welcome .script-upload
  display: inline-block
  width: 320px
  margin: 0 0 0 0

.welcome .script-upload-disabled
  display: none

.welcome .script-upload p
  text-align: left
  margin-top: 5px
  margin-bottom: 5px
  line-height: 30px

.welcome .script-upload input[type=file]
  width: $script-upload-width - 4px

.welcome .script-upload input[type=text]
  display: block
  float: right

$welcome-width: 400px

.welcome
  position: absolute
  width: $welcome-width
  background-color: $element-bgcolor
  text-align: center
  left: calc(50% - #{$welcome-width / 2})
  top: 100px
  border: 2px $element-bordercolor solid
  border-radius: 10px
  font-size: 20px
  color: $element-font-color
  padding-top: 10px
  padding-bottom: 10px
  background-size: 15px 15px

.note
  font-size: 15px
  text-align: justify
  padding-left: 15px
  padding-right: 15px
  hyphens: auto

/**** Controls *****/
/* Button */
button
  font-family: $serif-font
  font-size: 18px
  border: 2px $element-bordercolor solid
  border-radius: 5px
  background-color: $element-bgcolor

button:hover
  background-color: $element-hover-color

button:focus
  border: 2px $highlight-color solid
  border-radius: 5px
  outline: none

button[disabled]
  color: $disabled-color
  border-color: $disabled-color

button[disabled]:hover
  background-color: $element-bgcolor

/* Text Input */
input[type=text]
  font-family: $serif-font
  border: 2px $element-bordercolor solid
  font-size: 18px
  background-color: $element-bgcolor
  border-radius: 5px

input[type=text]:focus
  border: 2px $highlight-color solid
  border-radius: 5px
  outline: none

input[type=text].invalid
  background-color: $highlight-color

/* Checkbox */
input[type=checkbox]
  height: 17px
  width: 17px
  display: inline-block
  vertical-align: -3px
  outline: solid 2px transparent
  margin: 0 10px 0 0
  -moz-appearance: none
  -webkit-appearance: none

input[type=checkbox]:focus
  outline: solid 2px transparent

input[type=checkbox]::before
  position: relative
  top: -2px
  left: -2px
  content: ""
  border: 2px $element-bordercolor solid
  border-radius: 5px
  background-color: $element-bgcolor
  padding: 0 0 0 0
  margin: 0 0 0 0
  height: 17px
  width: 17px
  display: block

input[type=checkbox]:checked::before
  background-image: url("images/checkmark.svg")
  background-repeat: no-repeat
  background-position: 2px 2px
  background-size: 13px 13px

input[type=checkbox]:focus::before
  border-color: $highlight-color

/* Radiobutton */
input[type=radio]
  height: 17px
  width: 17px
  display: inline-block
  vertical-align: -2px
  outline: solid 2px transparent
  margin: 0 10px 0 0
  -webkit-appearance: none
  -moz-appearance: none

input[type=radio]:focus
  outline: solid 2px transparent

input[type=radio]::before
  position: relative
  top: -2px
  left: -2px
  content: ""
  border: 2px $element-bordercolor solid
  border-radius: 10px
  background-color: $element-bgcolor
  padding: 0 0 0 0
  margin: 0 0 0 0
  height: 17px
  width: 17px
  display: block

input[type=radio]:checked::before
  background-image: url("images/bullet.svg")
  background-repeat: no-repeat
  background-position: center
  background-size: 13px 13px

input[type=radio]:focus::before
  border-color: $highlight-color

select
  font-family: $serif-font
  border: 2px $element-bordercolor solid
  font-size: 18px
  background-color: $element-bgcolor
  border-radius: 5px
  outline: none

select:focus
  border: 2px $highlight-color solid
  border-radius: 5px
  outline: none

select option
  border: 1px solid #000
  background: $sidebar-bgcolor

/* File Input */
input[type=file]
  font-family: $serif-font
  border: 2px $element-bordercolor solid
  font-size: 18px
  background-color: $sidebar-bgcolor
  border-radius: 5px

input[type=file]:focus
  border: 2px $highlight-color solid
  border-radius: 5px
  outline: none

::-webkit-file-upload-button
  font-family: $serif-font
  font-size: 18px
  background: $element-bgcolor
  border: none
  outline: none
  border-right: 2px solid $element-bordercolor

::-webkit-file-upload-button:hover
  background: $element-hover-color

input[type=file].invalid
  background: $highlight-color

/* Fullscreen */
@mixin fullscreen-rules
  .tease-header
    display: none
  .tease-content
    height: 100%
    min-height: 100vh
  .tease-main img
    height: calc(90vh - 175px)

*:-webkit-full-screen
  @include fullscreen-rules

*:-moz-full-screen
  @include fullscreen-rules
